/*Configurações globais */
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(179,229,247);
    background: linear-gradient(180deg, rgba(179,229,247,1) 0%, rgba(107,200,223,1) 45%, rgba(86,195,230,1) 99%);}
#container{
    background-color: rgb(126, 243, 243);
    opacity: 0.7;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    max-width: 300px;
    background: rgb(168,225,245);
    background: linear-gradient(180deg, rgba(168,225,245,1) 0%, rgba(143,223,242,1) 45%, rgba(75,180,214,1) 99%);}
input{
    padding: 5px;
    border:none;
    outline: none;
    border-radius: 5px;
}

button{
    font-size: 20px;
    float: right;
    cursor: pointer;
}

.titulo{
    margin-top: 10px;
}

.temp{
    margin-top: 5px;
    font-size: 25px;
}

.box-menor{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.umidade{
    margin-top: 5px;
}

.texto-previsao{
    text-transform: capitalize;
}
